@import "tailwindcss";

:root {
  --bg-dark: #e8e8e8;
  --bg-med: #ededed;
  --bg-light: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--bg-dark);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
